body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: rgb(219,219,219);
  width:90%;
  margin : 20px, auto;
  max-width : 800px;
}

.navbar{
  padding : 5px;
  text-align: center;
}

.navbar ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding:0;
}

.todo-list ul {
  padding : 0 10px 10px 10px;
  list-style-type: none;
}

.todo-list li {
  padding: 10px;
  cursor : pointer;
  margin : 10px 0;
  border-radius : 4px;
}

